{% extends "layout.twig" %}

{% block content %}

<form action="#" method="post" role="form">

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.org_id) }}
            {{ form_errors(form.org_id) }}
            {{ form_widget(form.org_id, { 'attr': { 'class': 'form-control' } }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.whitelist) }}
            {{ form_errors(form.whitelist) }}
            {{ form_widget(form.whitelist, { 'attr': { 'class': 'form-control' } }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.blacklist) }}
            {{ form_errors(form.blacklist) }}
            {{ form_widget(form.blacklist, { 'attr': { 'class': 'form-control' } }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.blockedcategories) }}
            {{ form_errors(form.blockedcategories) }}
            {{ form_widget(form.blockedcategories, { 'attr': { 'class': '' } }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.blockedapps) }}
            {{ form_errors(form.blockedapps) }}
            {{ form_widget(form.blockedapps, { 'attr': { 'class': '' } }) }}
        </div>

    {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary' } }) }}

    {{ form_end(form) }}
</form>

{% endblock %}